﻿@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    html, body {
        height: 100%;
        margin: 0px;
    }

    .container {
        height: 100%;
        background: #1ABC9C;
    }
</style>

<div class="container" style="display:inline-block;">
    <h1>----------------------------------------------------- </h1>
    <h1>Customer Enrollment Form </h1>
    <h3> Made by Abhineet Sagar (EMP. ID - 1595999)</h3>

    <p class="lead">Enter the details of Employee to enroll them to the new Insurance Scheme</p>
    <p><button type="button" onclick="location.href='@Url.Action("FirstView", "Test")'" class="btn btn-primary btn-lg">Click Here to Get Started &raquo;</button></p>
</div>

